/* include it via @import at end of main.scss */

#logoHeader{
  margin:0 auto;
  text-align:center;
  /*border-bottom:20px dashed grey;*/
  padding: 6em 0 4em 0;
  h1{
    display:none;
  }
  img{
    margin:20px 0px;
  }
  .button{
    margin-top:25px;
    padding-bottom:0px;
    color:white;
    background-color: #EA5658;
  }
  a.button, a.button:visited{
    color:white;
  }
  .imgLink{
    border:0px;
  }
  .descriptionTop{
    font-size:0.85em;
  }
  .descriptionBottom{
    font-size:0.85em;
    display:none;
  }

  .privacyNotice{
    max-width:600px;
    margin:0 auto;
    padding-top:10px;
    font-size:0.85em;
    line-height:1.5em;
  }
  a,a:visited{
      color:grey;
  }
}
/*#header{
  background:none;
  padding: 6em 0 2em 0;

  .custom-logo{
    max-width:100%;
  }

  h1{
    display:none;
  }

  p{
    color:grey;
    font-size: 1.05em;
  }

  .button {
    background: _palette(accent2, bg);
    color: _palette(accent2, fg-bold);

    &:hover {
			background: lighten(_palette(accent2, bg), 10);
		}

		&:active {
			background: darken(_palette(accent2, bg), 5);
		}

  }
}*/
header.major{
  display:none;
}

.descriptionBox{
  color:grey;
  font-size:14px;
}

#main{
  &:before{
    display:none;
  }

  p.copyright, div.copyright {
			color: grey;
			font-size: 11px;
			margin-top: 0;
			margin-bottom: 25px;
		}
}

#mainArticleContentForScrollProgress{
  padding-bottom:400px;
}
